<%- include("partials/header") -%>

    <div class="starting">
        <h1>Welcome</h1>
        <p>You are going to face a series of puzzle.</p>
        <p>You need to solve every puzzle in order to proceed to the next challenge.</p>
    </div>


<%- include("partials/footer") -%>