<%- include("partials/header") -%>

    <div class="my-group">
        <h1 class="my-heading">SIGNUP</h1>
        <form action="/signup" method="post" name="signupForm">
            <div class="form-group">
                <label for="username">username</label>
                <input type="text" class="form-control" id="username" name="username" required>
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required minlength="6">
            </div>
            <button type="submit" class="btn btn-primary" name="button">SIGNUP</button>
        </form>
</div>

<%- include("partials/footer") -%>